In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('./csv/전체데이터_2011_코스피코스닥_1차전처리_v1.0.csv', encoding='cp949')
df.drop(columns=['Unnamed: 0','이자보상배율(이자비용)(IFRS)','이자보상배율(이자비용)(IFRS연결)'],axis=1,  inplace=True)
df

            회사명  거래소코드    회계년도  이자보상배율
0      (주)CMG제약  58820  11-Dec    3.53
1      (주)CMG제약  58820  12-Dec   -7.75
2      (주)CMG제약  58820  13-Dec    0.70
3      (주)CMG제약  58820  14-Dec    3.60
4      (주)CMG제약  58820  15-Dec  -32.22
...         ...    ...     ...     ...
15145   흥아해운(주)   3280  15-Dec    1.02
15146   흥아해운(주)   3280  16-Dec    0.21
15147   흥아해운(주)   3280  17-Dec   -0.42
15148   흥아해운(주)   3280  18-Dec   -1.16
15149   흥아해운(주)   3280  19-Dec    0.00

[15150 rows x 4 columns]

In [9]:
df['이자보상배율'] = df['이자보상배율'].astype(float)
df

            회사명  거래소코드    회계년도  이자보상배율
0      (주)CMG제약  58820  11-Dec    3.53
1      (주)CMG제약  58820  12-Dec   -7.75
2      (주)CMG제약  58820  13-Dec    0.70
3      (주)CMG제약  58820  14-Dec    3.60
4      (주)CMG제약  58820  15-Dec  -32.22
...         ...    ...     ...     ...
15145   흥아해운(주)   3280  15-Dec    1.02
15146   흥아해운(주)   3280  16-Dec    0.21
15147   흥아해운(주)   3280  17-Dec   -0.42
15148   흥아해운(주)   3280  18-Dec   -1.16
15149   흥아해운(주)   3280  19-Dec    0.00

[15150 rows x 4 columns]

In [10]:
# df.isna().sum()
# df = df.fillna(0)

In [11]:
# df_1 = df[['회사명','거래소코드','회계년도','이자보상배율(이자비용)']]
# df_2 = df[['회사명','거래소코드','회계년도','이자보상배율(이자비용)(IFRS연결)']]

In [12]:
for i in range(len(df)):
    if df.loc[i,'이자보상배율'] == 0: 
        df.loc[i, '부실징후기업'] = 2
    elif df.loc[i,'이자보상배율'] < 1: 
        df.loc[i,'부실징후기업'] = 1
    elif df.loc[i,'이자보상배율'] > 1 and df.loc[i,'이자보상배율'] != 11111111.11: 
        df.loc[i,'부실징후기업'] = 0
    elif df.loc[i,'이자보상배율'] == 11111111.11: 
        df.loc[i,'부실징후기업'] = 2

df # 999999999는 일단 생각하지 않은 채로 진행합니다.

            회사명  거래소코드    회계년도  이자보상배율  부실징후기업
0      (주)CMG제약  58820  11-Dec    3.53     0.0
1      (주)CMG제약  58820  12-Dec   -7.75     1.0
2      (주)CMG제약  58820  13-Dec    0.70     1.0
3      (주)CMG제약  58820  14-Dec    3.60     0.0
4      (주)CMG제약  58820  15-Dec  -32.22     1.0
...         ...    ...     ...     ...     ...
15145   흥아해운(주)   3280  15-Dec    1.02     0.0
15146   흥아해운(주)   3280  16-Dec    0.21     1.0
15147   흥아해운(주)   3280  17-Dec   -0.42     1.0
15148   흥아해운(주)   3280  18-Dec   -1.16     1.0
15149   흥아해운(주)   3280  19-Dec    0.00     2.0

[15150 rows x 5 columns]

In [14]:
df[df['이자보상배율']== 11111111.11]

             회사명   거래소코드    회계년도       이자보상배율  부실징후기업
5       (주)CMG제약   58820  16-Dec  11111111.11     2.0
6       (주)CMG제약   58820  17-Dec  11111111.11     2.0
7       (주)CMG제약   58820  18-Dec  11111111.11     2.0
68     (주)SNT에너지  100840  16-Dec  11111111.11     2.0
69     (주)SNT에너지  100840  17-Dec  11111111.11     2.0
...          ...     ...     ...          ...     ...
15106  휴림네트웍스(주)  192410  14-Dec  11111111.11     2.0
15107  휴림네트웍스(주)  192410  15-Dec  11111111.11     2.0
15108  휴림네트웍스(주)  192410  16-Dec  11111111.11     2.0
15127      휴젤(주)  145020  15-Dec  11111111.11     2.0
15128      휴젤(주)  145020  16-Dec  11111111.11     2.0

[1059 rows x 5 columns]

In [51]:
# for i in range(len(df_2)):
#     if df_2.loc[i,'이자보상배율(이자비용)(IFRS연결)'] == 0: # 두개 다 결측치 인 경우 일단 2로...
#         df_2.loc[i, '부실징후기업'] = 2
#     elif df_2.loc[i,'이자보상배율(이자비용)(IFRS연결)'] < 1: # GAAP만 고려할 경우
#         df_2.loc[i,'부실징후기업'] = 1
#     elif df_2.loc[i,'이자보상배율(이자비용)(IFRS연결)'] > 1: # GAAP만 고려할 경우
#         df_2.loc[i,'부실징후기업'] = 0

# df_2 # 999999999는 일단 생각하지 않은 채로 진행합니다.

In [131]:
# for i in range(len(df)-2): # 3년 연속 부실징후가 1일 때
#     if df.loc[i,'회사명'] == df.loc[i+1,'회사명'] or df.loc[i,'회사명'] == df.loc[i-1,'회사명']:
#         if df.loc[i,'이자보상배율'] < 1:
#             if df.loc[i+1,'회사명'] == df.loc[i+2,'회사명'] or df.loc[i+1,'회사명'] == df.loc[i-2,'회사명']:
#                 if df.loc[i+1,'이자보상배율'] < 1:
#                     if df.loc[i+2,'이자보상배율'] < 1:
#                         df.loc[i+2,"한계기업"] = 1
#                     else:
#                         df.loc[i+2,"한계기업"] = 0
#                 else:
#                         df.loc[i+2,"한계기업"] = 0
#             else:
#                 df.loc[i+1,'한계기업'] = 0
#         else:
#             df.loc[i+1,'한계기업'] = 0
#     else:
#         df.loc[i,'한계기업'] = 0
# else:
#     df.loc[i,'한계기업'] = 0
# df

In [111]:
# for i in range(len(df)-2): # 3년 연속 부실징후가 1일 때
#     if df.loc[i,'이자보상배율'] < 1:
#         if df.loc[i,'회사명'] == df.loc[i+-1,'회사명']:
#             if df.loc[i+1,'이자보상배율'] < 1:
#                 if df.loc[i,'회사명'] == df.loc[i+-1,'회사명']:
#                     if df.loc[i+2,'이자보상배율'] < 1:
#                         if df.loc[i,'회사명'] == df.loc[i+-1,'회사명'] == df.loc[i+-2,'회사명']:
#                             df.loc[i+2,"한계기업"] = 1
#                         else:
#                             df.loc[i+2,"한계기업"] = 0
#                     else:
#                         df.loc[i+2,'한계기업'] = 0
#                 else:
#                     df.loc[i+1,'한계기업'] = 0
#             else:
#                 df.loc[i+1,'한계기업'] = 0
#         else:
#             df.loc[i,'한계기업'] = 0
#     else:
#         df.loc[i,'한계기업'] = 0
# df

In [34]:
df['한계기업'] = 0
for i in range(len(df)-2): # 3년 연속 부실징후가 1일 때
    if df['부실징후기업'][i] == 1:
        if df.loc[i,'회사명'] == df.loc[i+1,'회사명']:
            if df['부실징후기업'][i+1] == 1:
                if df['부실징후기업'][i+2] == 1:
                    df['한계기업'][i+2] = 1
        if df.loc[i,'회사명'] == df.loc[i-1,'회사명']:
            if df['부실징후기업'][i] == 1:
                if df['부실징후기업'][i+1] == 1:
                    if df['부실징후기업'][i+2] == 1:
                        df['한계기업'][i+2] = 1
        elif df.loc[i,'회사명'] != df.loc[i-1,'회사명']:
            if df['부실징후기업'][i] == 1:
                df['한계기업'][i] = 0
            else:
                df['한계기업'][i] = 0
        if df.loc[i,'회사명'] != df.loc[i-1,'회사명'] and df.loc[i,'회사명'] != df.loc[i-2,'회사명']:
            
    if df['부실징후기업'][i] == 2:
        df['한계기업'][i] = 2
df

C:\Users\82104\AppData\Local\Temp\ipykernel_9708\1105731857.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['한계기업'][i] = 2
C:\Users\82104\AppData\Local\Temp\ipykernel_9708\1105731857.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['한계기업'][i+2] = 1
C:\Users\82104\AppData\Local\Temp\ipykernel_9708\1105731857.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['한계기업'][i] = 0
C:\Users\82104\AppData\Local\Temp\ipykernel_9708\1105731857.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['한계기업'][i+2] = 1

            회사명  거래소코드    회계년도  이자보상배율  부실징후기업  한계기업
0      (주)CMG제약  58820  11-Dec    3.53     0.0     0
1      (주)CMG제약  58820  12-Dec   -7.75     1.0     0
2      (주)CMG제약  58820  13-Dec    0.70     1.0     0
3      (주)CMG제약  58820  14-Dec    3.60     0.0     0
4      (주)CMG제약  58820  15-Dec  -32.22     1.0     0
...         ...    ...     ...     ...     ...   ...
15145   흥아해운(주)   3280  15-Dec    1.02     0.0     0
15146   흥아해운(주)   3280  16-Dec    0.21     1.0     0
15147   흥아해운(주)   3280  17-Dec   -0.42     1.0     0
15148   흥아해운(주)   3280  18-Dec   -1.16     1.0     1
15149   흥아해운(주)   3280  19-Dec    0.00     2.0     0

[15150 rows x 6 columns]

In [35]:
df.loc[25:40]

         회사명  거래소코드    회계년도  이자보상배율  부실징후기업  한계기업
25   (주)ES큐브  50120  18-Dec   -0.82     1.0     0
26   (주)ES큐브  50120  19-Dec   -0.68     1.0     0
27  (주)HJ중공업  97230  11-Dec    0.55     1.0     0
28  (주)HJ중공업  97230  12-Dec    0.27     1.0     1
29  (주)HJ중공업  97230  13-Dec   -0.40     1.0     1
30  (주)HJ중공업  97230  14-Dec   -0.88     1.0     1
31  (주)HJ중공업  97230  15-Dec   -0.50     1.0     1
32  (주)HJ중공업  97230  16-Dec   -0.58     1.0     1
33  (주)HJ중공업  97230  17-Dec   -1.08     1.0     1
34  (주)HJ중공업  97230  18-Dec    0.62     1.0     1
35  (주)HJ중공업  97230  19-Dec    0.69     1.0     1
36  (주)MH에탄올  23150  11-Dec    0.12     1.0     0
37  (주)MH에탄올  23150  12-Dec    1.08     0.0     0
38  (주)MH에탄올  23150  13-Dec    0.87     1.0     0
39  (주)MH에탄올  23150  14-Dec    5.62     0.0     0
40  (주)MH에탄올  23150  15-Dec   12.69     0.0     0

In [145]:
df[df['회사명']=='(주)TCC스틸']

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
90,90,(주)TCC스틸,2710,11-Dec,1.8,1.41,1.41
91,91,(주)TCC스틸,2710,12-Dec,1.44,0.57,0.57
92,92,(주)TCC스틸,2710,13-Dec,1.01,-0.59,-0.59
93,93,(주)TCC스틸,2710,14-Dec,1.31,0.02,0.02
94,94,(주)TCC스틸,2710,15-Dec,2.11,2.17,2.17
95,95,(주)TCC스틸,2710,16-Dec,2.36,2.53,2.53
96,96,(주)TCC스틸,2710,17-Dec,1.41,1.55,1.55
97,97,(주)TCC스틸,2710,18-Dec,3.46,3.3,3.30
98,98,(주)TCC스틸,2710,19-Dec,2.34,2.27,2.27

In [114]:
p = df[df['이자보상배율']==11111111.11]
p.drop_duplicates(['회사명'])

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율,한계기업
5,5,(주)CMG제약,58820,16-Dec,77777777.77,77777777.77,11111111.11,0.0
68,68,(주)SNT에너지,100840,16-Dec,77777777.77,77777777.77,11111111.11,0.0
193,193,(주)고려시멘트,198440,14-Dec,77777777.77,77777777.77,11111111.11,0.0
226,226,(주)골프존,215000,15-Dec,77777777.77,77777777.77,11111111.11,0.0
267,267,(주)광주신세계,37710,11-Dec,77777777.77,77777777.77,11111111.11,0.0
...,...,...,...,...,...,...,...,...
15028,15028,화성밸브(주),39610,13-Mar,77777777.77,77777777.77,11111111.11,0.0
15058,15058,화천기계(주),10660,16-Dec,77777777.77,77777777.77,11111111.11,0.0
15071,15071,환인제약(주),16580,11-Dec,77777777.77,77777777.77,11111111.11,0.0
15106,15106,휴림네트웍스(주),192410,14-Dec,77777777.77,77777777.77,11111111.11,0.0
15127,15127,휴젤(주),145020,15-Dec,77777777.77,77777777.77,11111111.11,0.0

In [72]:
# for i in range(len(df_2)-2): # 3년 연속 부실징후가 1일 때
#     if df_2.loc[i,'부실징후기업'] == 1:
#         if df_2.loc[i+1,'부실징후기업'] == 1:
#             if df_2.loc[i+2,'부실징후기업'] == 1:
#                 df_2.loc[i+2,"한계기업"] = 1
#             else:
#                 df_2.loc[i+2,'한계기업'] = 0
#         else:
#             df_2.loc[i+1,'한계기업'] = 0
#     else:
#         df_2.loc[i,'한계기업'] = 0
# df_2

In [137]:
a = df[df["한계기업"]==1]
a

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율,부실징후기업,한계기업
11,11,(주)DB하이텍,990,13-Dec,-0.16,-0.16,-0.16,1.0,1
12,12,(주)DB하이텍,990,14-Dec,0.67,0.67,0.67,1.0,1
27,27,(주)HJ중공업,97230,11-Dec,0.34,0.55,0.55,1.0,1
28,28,(주)HJ중공업,97230,12-Dec,0.17,0.27,0.27,1.0,1
29,29,(주)HJ중공업,97230,13-Dec,-0.72,-0.4,-0.40,1.0,1
...,...,...,...,...,...,...,...,...,...
15123,15123,휴마시스(주),205470,16-Dec,77777777.77,-1.02,-1.02,1.0,1
15124,15124,휴마시스(주),205470,17-Dec,1.55,-0.72,-0.72,1.0,1
15125,15125,휴마시스(주),205470,18-Dec,-3.93,-3.93,-3.93,1.0,1
15126,15126,휴마시스(주),205470,19-Dec,-1.1,-1.1,-1.10,1.0,1
15148,15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16,1.0,1

In [117]:
c = a.drop_duplicates(['회사명'])

In [118]:
c.to_csv('내꺼.csv',encoding='cp949')

In [25]:
# b = df_2[df_2["한계기업"]==1]
# b

In [26]:
# b.drop_duplicates(['회사명'])