In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./csv/전체데이터_2011_코스피코스닥_1차전처리_v1.0.csv', encoding='cp949')
df

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
1,1,(주)CMG제약,58820,12-Dec,-7.45,-7.75,-7.75
2,2,(주)CMG제약,58820,13-Dec,0.73,0.7,0.70
3,3,(주)CMG제약,58820,14-Dec,3.63,3.6,3.60
4,4,(주)CMG제약,58820,15-Dec,-32.2,-32.22,-32.22
...,...,...,...,...,...,...,...
15145,15145,흥아해운(주),3280,15-Dec,0.79,1.02,1.02
15146,15146,흥아해운(주),3280,16-Dec,0.04,0.21,0.21
15147,15147,흥아해운(주),3280,17-Dec,-0.61,-0.42,-0.42
15148,15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16
15149,15149,흥아해운(주),3280,19-Dec,-0.58,-0.55,0.00

In [2]:
df['이자보상배율'] = df['이자보상배율'].astype(float)
df

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
1,1,(주)CMG제약,58820,12-Dec,-7.45,-7.75,-7.75
2,2,(주)CMG제약,58820,13-Dec,0.73,0.7,0.70
3,3,(주)CMG제약,58820,14-Dec,3.63,3.6,3.60
4,4,(주)CMG제약,58820,15-Dec,-32.2,-32.22,-32.22
...,...,...,...,...,...,...,...
15145,15145,흥아해운(주),3280,15-Dec,0.79,1.02,1.02
15146,15146,흥아해운(주),3280,16-Dec,0.04,0.21,0.21
15147,15147,흥아해운(주),3280,17-Dec,-0.61,-0.42,-0.42
15148,15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16
15149,15149,흥아해운(주),3280,19-Dec,-0.58,-0.55,0.00

In [3]:
# 분석 과정에서 NaN이 NaN이 아닌 다른 어떤 값인 것으로 판명되었습니다.
# 어쩔 수 없이 분석의 용이함을 위해 임의의 값을 채웠습니다
# df = df.fillna(77777.77)

# 이건 우리의 기준에 맞는 이자보상 배율을 저장하기 위한 컬럼입니다.
# df['이자보상배율'] = 0.0

In [4]:
# df_1 = df[['회사명','거래소코드','회계년도','이자보상배율(이자비용)(IFRS)']]
# df_2 = df[['회사명','거래소코드','회계년도','이자보상배율(이자비용)(IFRS연결)']]

In [5]:
# 현재 데이터 기준으로 한계기업과 4년 연속 이.보.배 1 미만인 기업을 찾을 겁니다

f_company = [] # 한계기업을 저장하는 리스트
f_company_x = [] # 4년 연속 이자보상배율 1 미만인 기업 삽입
count = 0 # 한계기업 카운트용
company = 'x' # 한계기업 기록용

# 이거도 csv 한바퀴 돌립니다
for i in range(0, len(df)-1):

    # 회사명이 이미 기록된 상태에서 또 중복으로 적을 필요는 없습니다
    if company == df.loc[i]['회사명']:
        # 다만 그 기업이 한계기업인데
        if count > 2:
            # 어머? 4년 연속이네요? 기록!!!
            if df.iloc[i]['이자보상배율'] < 1:
                f_company_x.append(company)
                count = 0

                # 반복문에서 볼일 다 끝났으니 통과합니다
                continue
        
        # 그게 아니라면 반복문을 통과합니다
        continue

    # 이자보상배율이 1 미만인 경우 카운트를 늘립니다
    if df.iloc[i]['이자보상배율'] < 1:
            count += 1
    # 도중에 이자보상배율이 1 미만이면 탈출합니다
    else:
        count = 0

    # 한계 기업 클럽에 오셨습니다. 환영합니다.
    if count == 2:
        company = df.loc[i]['회사명']
        f_company.append(company)
        count += 1

In [6]:
# # 현재 데이터 기준으로 한계기업과 4년 연속 이.보.배 1 미만인 기업을 찾을 겁니다

# f_company_1 = [] # 한계기업을 저장하는 리스트
# f_company_x_1 = [] # 4년 연속 이자보상배율 1 미만인 기업 삽입
# count_1 = 0 # 한계기업 카운트용
# company_1 = 'x' # 한계기업 기록용

# # 이거도 csv 한바퀴 돌립니다
# for i in range(0, len(df_2)-1):

#     # 회사명이 이미 기록된 상태에서 또 중복으로 적을 필요는 없습니다
#     if company_1 == df_2.iloc[i]['회사명']:
#         # 다만 그 기업이 한계기업인데
#         if count > 3:
#             # 어머? 4년 연속이네요? 기록!!!
#             if df_2.iloc[i]['이자보상배율(이자비용)(IFRS연결)'] < 1:
#                 f_company_x_1.append(company_1)
#                 count = 0

#                 # 반복문에서 볼일 다 끝났으니 통과합니다
#                 continue
        
#         # 그게 아니라면 반복문을 통과합니다
#         continue

#     # 이자보상배율이 1 미만인 경우 카운트를 늘립니다
#     if df_2.iloc[i]['이자보상배율(이자비용)(IFRS연결)'] < 1:
#             count += 1
#     # 도중에 이자보상배율이 1 미만이면 탈출합니다
#     else:
#         count = 0

#     # 한계 기업 클럽에 오셨습니다. 환영합니다.
#     if count == 3:
#         company_1 = df_2.iloc[i]['회사명']
#         f_company_1.append(company_1)
#         count += 1

In [7]:
# 분명히 이거보다 더 좋은 방법이 있을건데
# 맷돌이 굴러가질 않네요

# 이건 f_company 리스트에 들어잇는 데이터와 일치하면 True, 아니면 False를 반환합니다
df_3 = df.isin(f_company)
df_3

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,False,True,False,False,False,False,False
1,False,True,False,False,False,False,False
2,False,True,False,False,False,False,False
3,False,True,False,False,False,False,False
4,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...
15145,False,True,False,False,False,False,False
15146,False,True,False,False,False,False,False
15147,False,True,False,False,False,False,False
15148,False,True,False,False,False,False,False
15149,False,True,False,False,False,False,False

In [8]:
# # 분명히 이거보다 더 좋은 방법이 있을건데
# # 맷돌이 굴러가질 않네요

# # 이건 f_company 리스트에 들어잇는 데이터와 일치하면 True, 아니면 False를 반환합니다
# df_4 = df_2.isin(f_company_1)
# df_4

In [9]:
df_5 = [] # 임시 저장용 리스트

# 그렇게 만든 데이터프레임을 기존과 비교해서 True인 애들만 뽑아옵니다
for i in range(0, len(df_3)-1):
    if df_3.iloc[i]["회사명"] == True:
        df_5.append(df.loc[i])
        
df_5_frame = pd.DataFrame(df_5).reset_index(drop=True)

In [10]:
# 4년 연속 이자 보상 배율이 1 미만인 기업들도 똑같이 해봅니다

df_6 = df.isin(f_company_x)
df_7 = []

for i in range(0, len(df_6)-1):
    if df_6.iloc[i]["회사명"] == True:
        df_7.append(df.loc[i])

df_7_frame = pd.DataFrame(df_7).reset_index(drop=True)

In [11]:
# df_8 = [] # 임시 저장용 리스트

# # 그렇게 만든 데이터프레임을 기존과 비교해서 True인 애들만 뽑아옵니다
# for i in range(0, len(df_4)-1):
#     if df_4.iloc[i]["회사명"] == True:
#         df_8.append(df_2.loc[i])
        
# df_8_frame = pd.DataFrame(df_8).reset_index(drop=True)

In [12]:
# # 4년 연속 이자 보상 배율이 1 미만인 기업들도 똑같이 해봅니다

# df_9 = df_1.isin(f_company_x_1)
# df_10 = []

# for i in range(0, len(df_9)-1):
#     if df_9.iloc[i]["회사명"] == True:
#         df_10.append(df_2.loc[i])

# df_10_frame = pd.DataFrame(df_10).reset_index(drop=True)

In [13]:
df_5_frame.copy()

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
1,1,(주)CMG제약,58820,12-Dec,-7.45,-7.75,-7.75
2,2,(주)CMG제약,58820,13-Dec,0.73,0.7,0.70
3,3,(주)CMG제약,58820,14-Dec,3.63,3.6,3.60
4,4,(주)CMG제약,58820,15-Dec,-32.2,-32.22,-32.22
...,...,...,...,...,...,...,...
6464,15144,흥아해운(주),3280,14-Dec,0.96,1.12,1.12
6465,15145,흥아해운(주),3280,15-Dec,0.79,1.02,1.02
6466,15146,흥아해운(주),3280,16-Dec,0.04,0.21,0.21
6467,15147,흥아해운(주),3280,17-Dec,-0.61,-0.42,-0.42
6468,15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16

In [14]:
# pd.options.display.max_columns = None

In [15]:
# 한계기업 후보 기업의 숫자는 밑에 카운트를 봅시다
df_5_frame.copy().drop_duplicates(['회사명'])

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
9,9,(주)DB하이텍,990,11-Dec,-0.69,-0.75,-0.75
18,18,(주)ES큐브,50120,11-Dec,-142.77,-245.99,-245.99
27,36,(주)MH에탄올,23150,11-Dec,1.5,0.12,0.12
36,81,(주)ST,11810,11-Dec,0.67,1.66,1.66
...,...,...,...,...,...,...,...
6434,14979,현대일렉트릭앤에너지시스템(주),267260,17-Dec,77777777.77,4.31,4.31
6437,15014,현우산업(주),92300,11-Dec,2.86,2.86,2.86
6446,15112,휴림로봇(주),90710,11-Dec,3.57,2.96,2.96
6455,15121,휴마시스(주),205470,14-Dec,77777777.77,-0.76,-0.76
6461,15141,흥아해운(주),3280,11-Dec,-0.37,-0.33,-0.33

In [16]:
# 그래서 4년 연속인 애들이 얼마나 될까요? 밑에 숫자를 봅시다
df_7_frame.copy().drop_duplicates(['회사명'])

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
9,9,(주)DB하이텍,990,11-Dec,-0.69,-0.75,-0.75
18,81,(주)ST,11810,11-Dec,0.67,1.66,1.66
27,90,(주)TCC스틸,2710,11-Dec,1.8,1.41,1.41
36,108,(주)강스템바이오텍,217730,15-Dec,-5.41,77777777.77,-5.41
...,...,...,...,...,...,...,...
4993,14923,현대바이오사이언스(주),48410,11-Dec,-17.26,-18.41,-18.41
5002,15014,현우산업(주),92300,11-Dec,2.86,2.86,2.86
5011,15112,휴림로봇(주),90710,11-Dec,3.57,2.96,2.96
5020,15121,휴마시스(주),205470,14-Dec,77777777.77,-0.76,-0.76
5026,15141,흥아해운(주),3280,11-Dec,-0.37,-0.33,-0.33

In [28]:
# # 한계기업 후보 기업의 숫자는 밑에 카운트를 봅시다
# df_8_frame.copy().drop_duplicates(['회사명'])

In [29]:
# # 그래서 4년 연속인 애들이 얼마나 될까요? 밑에 숫자를 봅시다
# df_10_frame.copy().drop_duplicates(['회사명'])