In [89]:
import pandas as pd
import numpy as np

df = pd.read_csv('../반정형합칠거.csv',encoding='cp949')
df1 = pd.read_csv('../알앤디합칠용.csv',encoding='cp949')
df1['회계년도'] = pd.to_datetime(df1['회계년도'],format='%d-%b').dt.strftime('20%d-%m')
df = df.drop('Unnamed: 0',axis=1)
# df = df.fillna(1254789.63)
df1 = df1.replace('\(','')
df1 = df1.replace('주','')
df1 = df1.replace('\)','')

In [82]:
# df1 = df1.fillna(1254789.63)

In [90]:
df = df[['회사명','거래소코드','회계년도']]

In [91]:
df

        회사명  거래소코드     회계년도
0     CMG제약  58820  2011-12
1     CMG제약  58820  2012-12
2     CMG제약  58820  2013-12
3     CMG제약  58820  2014-12
4     CMG제약  58820  2015-12
...     ...    ...      ...
9024   흥아해운   3280  2014-12
9025   흥아해운   3280  2015-12
9026   흥아해운   3280  2016-12
9027   흥아해운   3280  2017-12
9028   흥아해운   3280  2018-12

[9029 rows x 3 columns]

In [92]:
df1

           회사명  거래소코드     회계년도  R & D 투자효율 통계청 한국표준산업분류 10차(소분류)
0     (주)CMG제약  58820  2011-12        0.13               의약품 제조업
1     (주)CMG제약  58820  2012-12        0.74               의약품 제조업
2     (주)CMG제약  58820  2013-12        0.66               의약품 제조업
3     (주)CMG제약  58820  2014-12        0.51               의약품 제조업
4     (주)CMG제약  58820  2015-12        3.08               의약품 제조업
...        ...    ...      ...         ...                   ...
9448   흥아해운(주)   3280  2014-12        0.00                해상 운송업
9449   흥아해운(주)   3280  2015-12        0.00                해상 운송업
9450   흥아해운(주)   3280  2016-12        0.00                해상 운송업
9451   흥아해운(주)   3280  2017-12        0.00                해상 운송업
9452   흥아해운(주)   3280  2018-12        0.00                해상 운송업

[9453 rows x 5 columns]

In [88]:
df2 = pd.merge(df,df1, on=['거래소코드','회계년도'], how='inner')
# df2.dropna()
df2

      회사명_x  거래소코드     회계년도     회사명_y  R & D 투자효율 통계청 한국표준산업분류 10차(소분류)
0     CMG제약  58820  2011-12  (주)CMG제약        0.13               의약품 제조업
1     CMG제약  58820  2012-12  (주)CMG제약        0.74               의약품 제조업
2     CMG제약  58820  2013-12  (주)CMG제약        0.66               의약품 제조업
3     CMG제약  58820  2014-12  (주)CMG제약        0.51               의약품 제조업
4     CMG제약  58820  2015-12  (주)CMG제약        3.08               의약품 제조업
...     ...    ...      ...       ...         ...                   ...
8854   흥아해운   3280  2014-12   흥아해운(주)        0.00                해상 운송업
8855   흥아해운   3280  2015-12   흥아해운(주)        0.00                해상 운송업
8856   흥아해운   3280  2016-12   흥아해운(주)        0.00                해상 운송업
8857   흥아해운   3280  2017-12   흥아해운(주)        0.00                해상 운송업
8858   흥아해운   3280  2018-12   흥아해운(주)        0.00                해상 운송업

[8859 rows x 6 columns]

In [53]:
df1

           회사명  거래소코드     회계년도  R & D 투자효율 통계청 한국표준산업분류 10차(소분류)
0     (주)CMG제약  58820  2011-12        0.13               의약품 제조업
1     (주)CMG제약  58820  2012-12        0.74               의약품 제조업
2     (주)CMG제약  58820  2013-12        0.66               의약품 제조업
3     (주)CMG제약  58820  2014-12        0.51               의약품 제조업
4     (주)CMG제약  58820  2015-12        3.08               의약품 제조업
...        ...    ...      ...         ...                   ...
9448   흥아해운(주)   3280  2014-12        0.00                해상 운송업
9449   흥아해운(주)   3280  2015-12        0.00                해상 운송업
9450   흥아해운(주)   3280  2016-12        0.00                해상 운송업
9451   흥아해운(주)   3280  2017-12        0.00                해상 운송업
9452   흥아해운(주)   3280  2018-12        0.00                해상 운송업

[9453 rows x 5 columns]

In [52]:
df

        회사명  거래소코드     회계년도
0     CMG제약  58820  2011-12
1     CMG제약  58820  2012-12
2     CMG제약  58820  2013-12
3     CMG제약  58820  2014-12
4     CMG제약  58820  2015-12
...     ...    ...      ...
9024   흥아해운   3280  2014-12
9025   흥아해운   3280  2015-12
9026   흥아해운   3280  2016-12
9027   흥아해운   3280  2017-12
9028   흥아해운   3280  2018-12

[9029 rows x 3 columns]